// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #30130f; 
  color: #DAE4E7; 
}
.lander { 
  margin-top: 10%;
  text-align: center;
  }
